$fireTypeColor: #ff6900;
$grassTypeColor: #b4f000;
$electricTypeColor: #ffe100;
$waterTypeColor: #14b9ff;
$groundTypeColor: #fac85a;
$rockTypeColor: #b48c64;
$fairyTypeColor: #ffafdc;
$poisonTypeColor: #d28cd2;
$bugTypeColor: #46c846;
$dragonTypeColor: #5078dc;
$psychicTypeColor: #f08cdc;
$flyingTypeColor: #78dcff;
$fightingTypeColor: #dc6900;
$normalTypeColor: #dcdcdc;
$iceTypeColor: #14f5ff;
$ghostTypeColor: #a08cff;
$darkTypeColor: #787878;
$steelTypeColor: #aac8f0;
